.tj-filterlistwrapper {overflow-y:auto; max-height:250px; overflow-x:hidden;}
.tj-filterlistwrapper-horizontal {overflow-y:auto; max-height:250px; overflow-x:hidden;}
.filter-form-margin-0{margin:0px !important;}
.tj-filterhrizontal {display:inline-block; margin-right:50px;}
.tj-filterlistwrapper-horizontal .tjfilter-radio-btn .controls .radio{position:inherit !important; margin-top:0px !important;}
