.icon-48-fields {
      background-image: url(../images/l_fields.png);
      padding-left:60px!important;
}

.icon-48-field {
      background-image: url(../images/l_fields.png);
      padding-left:60px!important;
}

.com_tjfields_repeating_block , .tjfield_container .span9
{
	margin-left:0px !important;
	margin-bottom:5px !important;
}

.techjoomla-bootstrap .displaynone
{
	display:none;
}

